<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>
</head>
<body>
<div th:replace="fragments/header :: header"/> </div>
<div class="container">
</br></br>
		<h2>Welcome to the Spring Security Learning project! </br></br>
		This is a hands-on learning project that demonstrates the integration of Spring Boot,
		Spring Security, </br>
		SAML (Security Assertion Markup Language), and </br>
		Okta for single sign-on (SSO) authentication.</h2>
</div>
<div th:replace="fragments/footer :: footer"/> </div>
</body>
</html>